<div class="front">
	<div class="inner">
		<span style="font-size: 55px; color: white;">가격비교</span><br>
		<span style="font-size: 45px; color: #b7cdf7;">비교중이에요!</span>
		<img id="main_img" src="<%= image_path("front_price.png") %>">
	</div>
</div>
<div class="inner">
	<div class="top_menu">
		<div class="title">
			<span id="head">가격비교_</span>
		</div>
		<div class="search">
			<div class="option_category">
				<div id="left">카테고리</div>
				<div id="right">
					<ul>
						<li id="man">남성</li>
						<li id="woman">여성</li>
						<li>애널</li>
						<li id="condom">콘돔</li>
						<li>젤/향수/스파</li>
						<li>SM용품</li>
						<li>란제리</li>
					</ul>
					<br>
					<ul id="temp1" style="display: none;">
						<li id="sub">인형(중/대형)</li>
						<li id="sub">컵홀/핸드잡</li>
						<li id="sub">남성 보조용품</li>
					</ul>
					<ul id="temp2" style="display: none;">
						<li id="sub">딜도</li>
						<li id="sub">바이브레이터/페어리</li>
						<li id="sub">여성 보조용품</li>
					</ul>
					<ul id="temp3" style="display: none;">
						<li id="sub">일반형</li>
						<li id="sub">초박형</li>
						<li id="sub">기능형</li>
						<li id="sub">기타</li>
					</ul>
				</div>
			</div>
			<div class="option_price">
				<div id="left">가격</div>
				<div id="right">
					<span>~1만원</span>
					<span>~5만원</span>
					<span>~10만원</span>
					<span>~50만원</span>
					<p style="float:right">
						<input id="lowest" type="number" value="0"> 원  ~  <input id="highest" type="number" value="9999999"> 원
					</p>
				</div>
			</div>
			
			<!--<div class="option_etc">-->
			<!--	<div id="left">기타</div>-->
			<!--	<div id="right">-->
			<!--		준비중입니다...-->
			<!--	</div>-->
			<!--</div>-->
			
			<div class="option_name">
				<div id="left">검색</div>
				<div id="right">
					<div class="options">
						<span id="category_result"></span>
						<span id="price_result"></span>
						<span id="etc_result"></span>
					</div>
					<a onclick="tt()"></a>
					<input type="text">
				</div>
			</div>
		</div>
	</div>
	<!--제품 몇개 검색 되었는지-->
	<div>
		<% if @search_product_name == nil %>
			0개의 상품이 검색되었어여
		<% else %>
			<%= @search_product_name.values.flatten.size %>개의 상품이 검색되었어여
		<% end %>
	</div>
	
	<div id="my-posts" >
	  <%= render partial: "layouts/page_price" %>
	</div>
	
	<div id="infinite-scrolling">
		<% if @search_product_name_keys_paginate.present? %>
			<%= will_paginate @search_product_name_keys_paginate %>
		<% end %>
	</div>
	
</div>


<link rel="stylesheet" href="<%= asset_path("price.css") %>">
<script src="<%= asset_path("price.js") %>"></script>
