<div class="front">
<div class="inner">
	<span style="font-size: 55px; color: white;">국내최초</span><br>
	<span style="font-size: 45px; color: #ffdeed;">성인용품 가격비교 사이트!!<br>www.sojoong2.com</span>
	<img id="main_img" src="<%= image_path("front_home.png") %>">
</div>
</div>
<div class="inner">
<div class="announce">
	<div class="title">
		<span id="head">알림방_</span>
		<span id="sub"></span>
		<a href="/home/page_announce" id="link">더보기▶</a>
	</div>
	<div class="item_box">
		<% @announces.each do |a| %>
			<a href="/home/page_announce?num=<%= a.id %>" id="item" style="background-image: <%= image_path("announce1.png") %>;">
				<span style="display: inline-block; white-space:nowrap; overflow:hidden; text-overflow: ellipsis; width: 100%;"><%= a.announce_title %></span><br>
				<span style="display: inline-block; white-space:nowrap; overflow:hidden; text-overflow: ellipsis; width: 100%; color: #a1f3da; font-size: 25px;"><%= a.announce_content %></span>
			</a>
		<% end %>
	</div>
</div>
<div class="sojoong2talk">
	<div class="title">
		<span id="head">소중이톡_</span>
		<a href="/home/page_sojoong2talk" id="link">더보기▶</a>
	</div>
	<div class="item_box">
		<a href="/home/page_sojoong2talk?num=1" id="item" style="background-image: <%= image_path("sojoong2talk1.png") %>;">
			
		</a>
		<a href="/home/page_sojoong2talk?num=2" id="item" style="background-image: <%= image_path("sojoong2talk2.png") %>;">
			
		</a>
		<a href="/home/page_sojoong2talk?num=3" id="item" style="background-image: <%= image_path("sojoong2talk3.png") %>;">
			
		</a>
		<a id="item" style="background-image: <%= image_path("sojoong2talk4.png") %>;">
			
		</a>
	</div>
</div>
<div class="poppular_product">
	<div class="title">
		<span id="head">알뜰방_</span>
		<a href="/home/page_price" id="link">더보기▶</a>
	</div>
	<div class="container_temp">
		<ul class="category">
			<li>
				<span><a href="/">남성용품_</a></span>
				<a href="/">인형</a> | <a href="/">컵홀/핸드잡</a> | <a href="/">보조용품</a>
			</li>
			<li>
				<span><a href="/">여성용품_</a></span>
				<a href="/">딜도</a> | <a href="/">바이브/페어리</a> | <a href="/">보조용품</a>
			</li>
			<li>
				<span><a href="/">애널_</a></span>
				<a href="/">남성</a> | <a href="/">여성</a>
			</li>
			<li>
				<span><a href="/">콘돔_</a></span>
				<a href="/">초박형</a> | <a href="/">기능형</a> | <a href="/">일반형</a> | <a href="/">기타</a>
			</li>
			<li>
				<span><a href="/">젤/향수/스파_</a></span>
			</li>
			<li>
				<span><a href="/">SM용품_</a></span>
			</li>
			<li>
				<span><a href="/">란제리/속옷_</a></span>
			</li>
		</ul>
		<div class="item_box">
			<div id="item">
				<span>준비중</span><br>
				<span style="color: #ffe1f1; font-size: 25px;">준비중이에요!</span>
			</div>
			<div id="item">
				<span>준비중</span><br>
				<span style="color: #b7cef7; font-size: 25px;">준비중이에요!</span>
			</div>
			<div id="item">
				<span>준비중</span><br>
				<span style="color: #a1f3da; font-size: 25px;">준비중이에요!</span>
			</div>
		</div>
	</div>
</div>
<div class="community">
	<div class="review_board">
		<div class="title">
			<span id="head">리뷰방_</span>
			<a href="/home/page_board_review" id="link">더보기▶</a>
		</div>
		<div class="item_box">
			<% @reviews.each do |r| %>
				<a href="/home/page_board_review?num=<%=r.id%>" class="item">
					<span id="category">카테고리/카테고리</span><br>
					<span id="product_name"><%= r.review_prod_name %></span><br>
					<span id="title"><%= r.review_title.truncate(10) %></span><br>
					<span id="name"><%= r.review_writer %></span><br>
				</a>
			<% end %>
		</div>
	</div>
	<div class="free_board">
		<div class="title">
			<span id="head">자유방_</span>
			<a href="/home/page_board_free" id="link">더보기▶</a>
		</div>
		<div class="item_box">
			<% @sudas.each do |s| %>
				<a href="/home/page_board_free?num=<%= s.id %>" class="item">
					<span id="date"><%= s.created_at.strftime("%Y-%m-%d %H:%M") %></span><br>
					<span id="name"><%= s.suda_writer %></span><br>
					<span id="title"><%= s.suda_title.truncate(10) %></span>
				</a>
			<% end %>
		</div>
	</div>
</div>
<div class="banner">
</div>
<!--<link rel="stylesheet" href="<= asset_path("main.css") %>">-->
<%= stylesheet_link_tag "main" %>
<!--<script src="<= asset_path("main.js") %>"></script>-->

<%= javascript_include_tag "main" %>