<div class="front">
	<div class="inner">
		<span style="font-size: 55px; color: white;"> 공지사항</span><br>
		<span style="font-size: 45px; color: #ffdeed;"> 읽어주세요!</span>
		<img id="main_img" src="/assets/announce/front_announce.png">
	</div>
</div>
<div class="inner">
	<div class="announce_list">
		<div class="title">
			<span id="head">공지사항_</span>
		</div>
		<div class="list_container">
			<% @announces.each do |a| %>
				<div class="announce"
				<% if params[:num]=="#{a.id}" %> 
					<%= "target=y" %>
				<% end %>>
					<div class="info1">
						<%= a.created_at.strftime("%Y-%m-%d %H:%M") %>
					</div>
					<div class="info2">
						<%= a.announce_title %>
						<p>
							<%= raw a.announce_content%>
						</p>
					</div>
				</div>
			<% end %>
			
			<%= will_paginate @announces %>
		</div>
	</div>
</div>
<link rel="stylesheet" href="/assets/announce.css">
<script src="/assets/announce.js"></script>
