<input type="hidden" id="id_of_post" value="<%= @id_value %>">

<div class="front">
	<div class="inner">
		<span style="font-size: 55px; color: white;">커뮤니티</span><br>
		<span style="font-size: 45px; color: #ffdeed;">자유게시판입니다!</span>
		<img id="main_img" src="<%= image_path("front_comunity_free.png") %>">
	</div>
</div>
<div class="inner">
	<div class="free_best">
		<div class="title">
			<span id="head">인기게시글_</span>
		</div>
		<div class="item_box">
			<a id="item" style="background-image: url(<%= image_path("sojoong2talk1.png") %>);">
				
			</a>
			<a id="item" style="background-image: url(<%= image_path("sojoong2talk2.png") %>);">
				
			</a>
			<a id="item" style="background-image: url(<%= image_path("sojoong2talk3.png") %>);">
				
			</a>
			<a id="item" style="background-image: url(<%= image_path("sojoong2talk4.png") %>);">
				
			</a>
		</div>
	</div>
	<div class="free_list">
		<div class="title">
			<span id="head">자유게시판_</span>
		</div>
		<div class="list_container">
			<% @sudas.each do |s| %>
				<div class="free" <% if params[:num]=="#{s.id}" %> 
					<%= "target=y" %>
				<% end %>>
					<div class="num"><%= s.id %></div>
					<div class="info1">
						<span id="date"><%= s.created_at.strftime("%Y-%m-%d %H:%M") %></span>
					</div>
					<div class="info2">
						<span class="open" style="display: inline-block; width: 100%; cursor: pointer;">
							<span id="title"><%= s.suda_title.truncate(25) %></span><br>
							<span id="name"><%= s.suda_writer %></span>
						</span>
						<p><%= s.suda_content %></p>
						<!--댓글 들어갈곳!-->
						<!--댓글 보여주는 곳-->
						<br>
						<span style="font-weight:bold">댓글 <%= s.sudareplies.length %>개</span>
						<div class="reple">
							<% if s.sudareplies.present? %>
								<% s.sudareplies.each do |sr| %>
									<span id="s_name"><%= sr.sudareplyname %></span>
									<span id="s_content"><%= sr.sudareplycontent %></span><br>
								<% end %>
							<% end %>
						</div>
						<br>
						<!--댓글 쓰는곳-->
						<div style="margin-top: 5px; width: 100%;">
						    <input type="text" class="reply_name" name="reply_writer_name" id="exampleInputEmail1" placeholder="글쓴이" style="width: 130px;">
						    <input type="text" class="reply_content" name="reply_content" id="exampleInputEmail1" placeholder="내용" style="width: 320px;">
						    <button type="submit" value="<%= s.id %>" class="reply_submit" style="display: inline-block; width: 80px;padding: 0px 5px 0px 5px; background-color: white; border: 1px solid gray;">댓글달기</button>
					    </div>
						<!--댓글 마무리-->
						<!--접는 버튼-->
						<span class="f_close" style="display: inline-block; margin-top: 10px; padding: 5px 0px 5px 0px; width: 100%; color: white; font-weight: bold; background-color: #cccccc; cursor: pointer; text-align: center;">접기</span>
					</div>
					<div class="info3">
						<span id="view" style="background-image: url(<%= image_path("view_ico.png") %>);"><%= s.suda_viewcount %></span>
						<span id="comment" style="background-image: url(<%= image_path("comment_ico.png") %>);"><%= s.sudareplies.count %></span>
						<span id="like" style="background-image: url(<%= image_path("like_ico.png") %>);">21</span>
					</div>
				</div>
			<% end %>
		</div>
		<button class="btn btn-default" type="button" onclick="location.href='/home/page_board_free_write'" style="background: none; background-color: none; border-radius: 0;">
	      글쓰기
	    </button>
	</div>
</div>
<link rel="stylesheet" href="<%= asset_path("board_free.css") %>">
<script src="<%= asset_path("board_free.js") %>"></script>
<script>
	$( document ).ready(function() {
		var id_of_post = $("#id_of_post").val();
		
		
		
		// 댓글 달기.
		$(".reply_content").keydown(function (key) {
			
	        if(key.keyCode == 13){//키가 13이면 실행 (엔터는 13)
	        	var tag = $(this).parents(".info2")[0]
	    		tag = $(tag).find(".reple")
	        	post_id = $(':focus').siblings(".reply_submit").attr("value");
	            reply_name = $(':focus').siblings(".reply_name").val();
	            reply_content = $(':focus').val();
	            $.ajax({
	                method: "POST",
	                url: "/home/page_board_free_reply_save",
	                data: {id_of_post: post_id , reply_writer_name: reply_name, reply_content: reply_content },
	                success: function(){
    	                $(tag).append("<span id='s_name'>" + reply_name + "</span>" +
						"<span id='s_content'>" + reply_content + "</span><br>");
	                	$(".reply_name").val('');
	                	$(".reply_content").val('');
	                }
	            })
	        }
	    });
	    $(".reply_submit").click(function(){
	    	var tag = $(this).parents(".info2")[0]
	    	tag = $(tag).find(".reple")
	        post_id = $(this).attr("value");
	        reply_name = $(this).siblings(".reply_name").val();
	        reply_content = $(this).siblings(".reply_content").val();
	        $.ajax({
	            method: "POST",
	            url: "/home/page_board_free_reply_save",
	            data: {id_of_post: post_id , reply_writer_name: reply_name, reply_content: reply_content },
	            success: function(){
	                $(tag).append("<span id='s_name'>" + reply_name + "</span>" +
									"<span id='s_content'>" + reply_content + "</span><br>");
	                $(".reply_name").val('');
	                $(".reply_content").val('');
	            }
	            
	        })
	    });
		
	});
	
	
	
</script>
