<div class="front">
	<div class="inner">
		<span style="font-size: 55px; color: white;"> 소중이톡</span><br>
		<span style="font-size: 45px; color: #a1f3da;"> 소중이가 주는 꿀팁!</span>
		<img id="main_img" src="<%= image_path("front_announce.png") %>">
	</div>
</div>
<div class="inner">
	<div class="sojoong2talk_list">
		<div class="title">
			<span id="head">소중이톡_</span>
		</div>
		<div class="list_container" style="min-height: <%= 230+((@temp.length-1)/4).to_i*250 %>px">
			<% i = 0 %>
			<% @temp.each do |t|%>
				<% left = (i%4)*250 %>
				<% top = (i/4).to_i*250 %>
				<div class="sojoong2talk" id="<%= t.id %>" <% if params[:num]==t.id %><%= "target=y" %><% end %> style="top:<%=top%>px; left:<%=left%>px">
					<div class="st_thumbnail">
						<img id="thumbnail" src="<%= t.talk_thumbnail %>">
						<img id="content" src="<%= t.talk_content %>" style="display: none;">
					</div>
				</div>
				<% i = i + 1 %>
			<% end %>
		</div>
	</div>
</div>
<link rel="stylesheet" href="<%= asset_path("sojoong2talk.css") %>">
<script src="<%= asset_path("sojoong2talk.js") %>"></script>
