<!DOCTYPE html>
<html>
    <head>
        <title>소중이닷컴 Baby</title>
        <%= csrf_meta_tags %>
        
        <!--Bootstrap-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <!--구글 검색?-->
        <meta name="google-site-verification" content="OtpdfC_tFJpAp2XosSHbV3fP14OzN0JWSYuSJfGOfoA" />
        <meta name="description" itemprop="description" content="대한민국 최초! 성인용품 가격비교 사이트 소중이닷컴 입니다!! 빠르게 발전시켜나가겠습니당 지켜봐주세요 한번씩 들어와보세요 돈드는거 아니용~~~~~" />
        
        <!--jquery autocomplete-->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        
        <!--jquery_validation-->
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>
        
        <!--summernote-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/lang/summernote-ko-KR.js"></script>
        
        
        <%= stylesheet_link_tag "myStyle" %>
        <%= javascript_include_tag "myScript" %>
        
        
    </head>
    <body>
        <div class="nav">
        	<div class="inner">
        		<a href="/home/page_main"  id="logo"></a>
        		<form class="search" action="/home/page_price" method="get">
        			<input id="text" type="text" name="search_product_name" placeholder="제품명 혹은 일부로 검색!"/>
        			<input id="submit" type="submit" value="">
        		</form>
        		<ul class="page_menu">
        			<li><a href="/home/page_main">메인</a></li>
        			<li><a href="/home/page_announce">공지사항</a></li>
        			<li><a href="/home/page_sojoong2talk">소중이톡</a></li>
        			<li><a href="/home/page_price">가격비교</a></li>
        			<li><a id="community">커뮤니티</a></li>
        		</ul>
        		<span id="communityDiv">
        			<a href="/home/page_board_review">리뷰게시판</a>
        			<a href="/home/page_board_free">자유게시판</a>
        		</span>
        	</div>
        </div>
        <div class="content">
            <%=yield%>		
        </div>
        <div class="footer">
        	<div class="inner">
        		<div class="title">			
        		</div>
        		<div class="info">
        			<a href="/">개인정보 취급방침</a> | <a href="/">이용약관</a> | <a href="/">제휴문의</a><br><br>
        			<img src="<%= image_path ("nav_logo_black.png") %>"><br>
        			www.sojoong2.com<br><br>
        			사업자등록번호:<br>
        			전화번호:<br>
        		</div>
        	</div>
        </div>
    </body>
</html>

